<article>
  <div class="row">
    <div class="col-md-6 p-3">
      <img
        [src]=""
        class="card-img-top"
        style="
          height: 500px;
          width: 100%;
          object-fit: cover;
          border-radius: 12px;
        "
        alt=""
      />
    </div>
    <div class="col-md-6 p-3">
      <div>
        <h3></h3>
        <p>
          <i class="bi bi-geo-alt-fill"></i>
        </p>
      </div>

      <div>
        <p>
          <i class="bi bi-house-check"></i> Units Available
          <span class="badge bg-secondary"></span>
        </p>
        <p>
          <i class="bi bi-wifi"></i> Does this location have wifi?
          <span class="badge bg-secondary"></span>
        </p>
        <p>
          <i class="bi bi-basket"></i> Does this location have laundry?
          <span class="badge bg-secondary"> </span>
        </p>
      </div>

      <div class="container mt-3"></div>
    </div>
  </div>
</article>
