<section>
  <form>
    <div class="row">
      <div class="col-lg-10 p-2">
        <input
          type="text"
          class="form-control"
          placeholder="search event name..."
          #filter
        />
      </div>
      <div class="col-lg-2 p-2">
        <button
          type="submit"
          (click)="filterResults(filter.value)"
          class="btn btn-primary"
        >
          Search
        </button>
      </div>
    </div>
  </form>

  <div
    class="container p-5 d-flex align-items-center justify-content-around gap-3 flex-wrap"
  >
    <app-event *ngFor="let event of events" [event]="event"></app-event>
  </div>
</section>
